[Unit]
Description=BTC Cron Job

[Service]
Type=simple  
Restart=always
User=logan
Environment=MONGO_CONNECTION={{ mongo_connection }}
Environment=DEPLOYED=true
ExecStart=/usr/local/bin/btccron

[Install]
WantedBy=multi-user.target